<h1 class="center-align">Order #<%= @order.id %></h1>
<h4 class="center-align"><%= @order.status %></h4>
<h5 class="center-align">
  <%= @order.customer.full_name %>
  <br>
  <%= @order.customer.full_address %>
</h5>
<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= link_to item.product.brand.name, user_brand_path(item.product.brand) %></td>
        <td><%= link_to item.product.name, user_product_path(item.product) %></td>
        <td><%= number_to_currency item.product.price %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency item.product.price * item.quantity %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4"><strong>Total</strong></td>
      <td><strong><%= number_to_currency @order.total %></strong></td>
    </tr>
  </tbody>
</table>
