<%= form_for([current_user, order, order_item]) do |f| %>
  <% if order_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_item.errors.count, "error") %> prohibited this order_item from being saved:</h2>

      <ul>
      <% order_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col l3 s12">
      <%= select_tag :brand, options_for_select(current_user.brands.collect {|e| [e.name, e.id, {'data-icon': e.logo, class: "circle"}]}), onchange: ("$.get('http://localhost:3000/users/1/orders/1/order_items.js', {brand_id: this.value})") %>
      <label>Brands</label>
    </div>

    <div class="input-field col l3 s12">
        <select name="order_item[product_id]" id="order_item_product_id">
        </select>
      <label>Products</label>
    </div>

    <div class="input-field col l3 s12">
      <%= f.number_field :quantity, class: "validate" %>
      <%= f.label :quantity, "Quantity" %>
    </div>

    <div class="actions col l3 s12">
      <button class="btn waves-effect waves-light btn-floating orange lighten-2" type="submit" name="commit">
        <i class="material-icons right">add</i>
      </button>
    </div>
  </div>


<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
