<p id="notice"><%= notice %></p>

<h1>Brands</h1>

<%= render "/date_picker", start_date: @start_date, end_date: @end_date, action: "brands" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Products</th>
      <th>Sales</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
        <tr>
          <td class="valign-wrapper">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="<%= brand.logo %>" alt="" class="circle responsive-img">
              </div>
              <div class="col s10">
                <%= link_to brand.name, user_brand_path(current_user, brand) %>
              </div>
            </div>
          </td>
          <td><%= brand.products.length %></td>
          <td><%= number_to_currency brand.sales(@start_date, @end_date) %></td>
          <td>
            <%= link_to  edit_user_brand_path(current_user, brand), class: "yellow-text text-darken-2 waves-effect" do %>
              <i class="material-icons">edit</i>
            <% end %>
          </td>
          <td>
            <%= link_to user_brand_path(current_user, brand), method: :delete, data: { confirm: 'Are you sure?' }, class: "grey-text waves-effect" do %>
              <i class="material-icons">delete</i>
            <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>

<%= render "/pagination", models: @brands, page_number: @page_number %>

<%= link_to new_user_brand_path(current_user), class: "btn-floating btn-large waves-effect waves-light red right tooltipped", "data-position":"top", "data-delay":"100", "data-tooltip":"Add Brand" do %>
  <i class="material-icons">add</i>
<% end %>
